@mixin partialborder($top, $right, $bottom, $left) {
  content: "";
  display: block;
  position: relative;
  width: 40%;
  height: 0.05em;
  background-color: rgba(0, 0, 0, 0.3);
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin verticalBorder($top, $right, $bottom, $left, $width, $height) {
  content: "";
  display: block;
  position: relative;
  width: $width;
  height: $height;
  background-color: rgba(0, 0, 0, 0.3);
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin mq($minwidth) {
  @media screen and (min-width: $minwidth) {
    @content;
  }
}
