@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
* {
	box-sizing: border-box;
	margin: 0;
	font-family: "Nunito Sans", sans-serif;
}
:root {
	--Mode-Elements: hsl(209, 23%, 22%);
	--Mode-Background: hsl(207, 26%, 17%);
	--Light-Mode-Text: hsl(200, 15%, 8%);
	--Light-Mode-Input: hsl(0, 0%, 52%);
	--Light-Mode-Background: hsl(0, 0%, 98%);
	--Mode-Text: hsl(0, 0%, 100%);
	--Light-Mode-Elements: hsl(0, 0%, 100%);
}

body {
	background-color: var(--Mode-Background);
	color: var(--Mode-Text);
	width: 100%;
	overflow-x: hidden;
}

header {
	width: 100vw;
	height: 5em;
	background-color: var(--Mode-Elements);
	padding: 8% 5% 10%;
	display: grid;
	grid-template-columns: 60% 40%;
}
header p {
	cursor: pointer;
	text-align: right;
	font-size: 0.8em;
	margin-top: 3%;
}

h1 {
	font-size: 0.9em;
}

input {
	width: 90%;
	font-size: 1em;
	margin: 7% 5%;
	height: 3.5em;
	padding-left: 20%;
	text-indent: 20%;
	color: var(--Mode-Text);
	background: url("images/lens-white.png") 7% 50%/ 5% no-repeat;
	padding: 5%;
	background-color: var(--Mode-Elements);
	border: none;
}

::placeholder {
	color: var(--Mode-Text);
	opacity: 1;
	padding-left: 10%;
}

input:focus {
	outline: none;
	border: 1px solid var(--Mode-Text);
}

select {
	background-color: var(--Mode-Elements);
	border: none;
	width: 50%;
	margin-left: 5%;
	padding: 0 5%;
	color: var(--Mode-Text);
	height: 3em;
	font-size: 0.7em;
}
select:focus {
	outline: none;
}

.countries-list {
	min-height: 80vh;
	display: grid;
}

.country-detail {
	display: inline-block;
	width: 70%;
	margin: 7% 15%;
}
.country-detail div {
	height: 50%;
}

#sample {
	display: none;
}

.country-detail img {
	cursor: pointer;
	width: 100%;
	height: 10em;
	margin-bottom: -3%;
	object-fit: cover;
}

.detail {
	height: 12em;
	background-color: var(--Mode-Elements);
	padding: 7%;
}

h2 {
	font-size: 1.2em;
	margin-bottom: 5%;
}

.tag {
	font-weight: 300;
}

.theme-toggle p {
	margin: 0;
}

p {
	font-weight: 600;
	font-size: 1em;
	margin-bottom: 3%;
}

.specific-details {
	width: 100%;
	display: none;
	padding: 7%;
	height: 70%;
}

.attribution {
	text-align: center;
}
.attribution a {
	color: var(--Mode-Text);
}

.home {
	height: 2em;
	cursor: pointer;
	padding: 2%;
	padding-left: 5%;
	display: inline-block;
	width: 30%;
	background-color: var(--Mode-Elements);
	margin: 5% 0;
	box-shadow: 0px 0px 10px hsl(200deg 15% 8%);
}

.specific-details img {
	margin: 10% 0 10%;
	width: 100%;
}

.specific-details > div > div {
	margin-bottom: 10%;
}

.border {
	height: 2.5em;
	cursor: pointer;
	font-weight: 300;
	margin: 2% 2%;
	font-size: 0.8em;
	padding: 2% 5% 2%;
	display: inline-block;
	background-color: var(--Mode-Elements);
	box-shadow: 0px 0px 5px hsl(200deg 15% 8%);
}

@media screen and (min-width: 600px) {
	.search-filter {
		display: grid;
		grid-template-columns: 70% 30%;
	}
	select {
		margin: 17% 0 0 40%;
		height: 4em;
	}
	.countries-list {
		grid-template-columns: 50% 50%;
	}
	.specific-details {
		padding: 3%;
	}
	.specific-details > div > div {
		margin: 0px 6% 5% 0;
		width: 40%;
		display: inline-block;
	}

	.specific-details > div > div:last-of-type {
		width: 100%;
	}
	.home {
		height: 2em;
		padding: 1%;
		padding-left: 5%;
		width: 20%;
	}
}

@media screen and (min-width: 768px) {
	header {
		width: 100vw;
		height: 5em;
		background-color: var(--Mode-Elements);
		padding: 3% 5% 2%;
	}
	.countries-list {
		grid-template-columns: 33% 33% 33%;
	}

	input {
		width: 50%;
		height: 2em;
		padding: 4%;
	}
	.home {
		height: 2em;
		padding: 1%;
		padding-left: 2%;
		width: 13%;
	}

	.all {
		display: grid;
		grid-template-columns: auto auto;
		row-gap: 2%;
		column-gap: 3%;
	}

	.all div {
		padding: 5%;
	}
	.specific-details > div > div {
		margin: 0px 6% 5% 0;
		width: 100%;
		display: inline-block;
	}
	.specific-details img {
		margin: 0;
		width: 32vw;
		/* height: 37vh; */
		object-fit: cover;
	}
}

@media screen and (min-width: 992px) {
	.all {
		display: grid;
		grid-template-columns: 35% 25% 25%;
		column-gap: 2%;
		grid-template-rows: auto auto;
	}

	.specific-details > div > div:last-of-type {
		grid-column: 1 / span 3;
	}
	.border {
		padding: 1% 2% 1%;
	}

	.home {
		height: 3em;
		padding: 1%;
		padding-left: 3%;
		width: 11%;
	}
}

@media screen and (min-width: 1440px) {
	.countries-list {
		grid-template-columns: 25% 25% 25% 25%;
	}
	.all {
		display: grid;
		grid-template-columns: 40% 20% 20%;
		grid-template-rows: auto auto;
		grid-template-rows: 33% 20%;
	}
	header {
		padding: 2% 5% 2%;
	}
	header p {
		margin-top: 0;
	}

	.specific-details img {
		margin: 0;
		width: 100%;
		height: 37vh;
		object-fit: cover;
	}
	.specific-details > div > div:last-of-type {
		grid-column: 2 / span 2;
		margin: 9% 0;
	}
	h2 {
		font-size: 2em;
		margin-bottom: 8%;
	}

	h4 {
		display: inline-block;
	}

	.specific-details > div > div {
		margin: 0px 6% 5% 0;
		padding-top: 15%;
	}
	.specific-details > div > div:nth-of-type(2) {
		padding-top: 35%;
	}

	.specific-details > div > div:last-of-type {
		grid-column: 2 / span 2;
		margin: -2% 0;
	}
	.attribution {
		margin-top: -5%;
	}

	header,
	main,
	.specific-details {
		max-width: 1440px;
		margin: 0 auto;
	}
}

/* 
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Neutral

- Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%)
- Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%)
- Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%)
- Dark Gray (Light Mode Input): hsl(0, 0%, 52%)
- Very Light Gray (Light Mode Background): hsl(0, 0%, 98%)
- White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%)

## Typography

### Body Copy

- Homepage Items: 14px
- Detail Page: 16px 

### Fonts

- Family: [Nunito Sans](https://fonts.google.com/specimen/Nunito+Sans)
- Weights: 300, 600, 800

## Icons

For the icons, you can use a font icon library. Don't worry if the icons that you choose don't look exactly like they do on the design.

Some suggestions can be found below:

- [Font Awesome](https://fontawesome.com)
- [IcoMoon](https://icomoon.io)
- [Ionicons](https://ionicons.com) */
